{{ define "navbar" }}
{{ $isRAP   := and (hasAdmin .Context.User.Privileges) (isRAP .Path) }}
{{ $isAdmin := hasAdmin .Context.User.Privileges }}
{{ $isClan := qb "SELECT user, clan, perms FROM user_clans WHERE user = ?" .Context.User.ID }}
{{ $ds      := band .ClientFlags 1 }}
<div style="background-image: url('https://fuquila.net/static/navbar.png');" class="ui secondary fixed-height stackable white background main menu no margin bottom{{ if .DisableHH }} dropped{{ end }}" id="navbar">
	<div class="ui container">
		<div class="item">
			<b><a href="/" title="{{ .T "Home page" }}"><img class="ripple logo" src="/static/logos/text-black.png" alt="Fuquila"></a></b>
		</div>
		{{ if $isRAP }}
			{{/*
			Note:
				RAP navbar will be completely different from standard navbar,
				meaning it will have the buttons and all the stuff that are in
				the current RAP's sidebar.
			*/}}
		{{ else }}
			<div class="ui dropdown item">
				<i class="yellow trophy icon"></i>
				<div class="menu">
					{{ navbarItem .Path (.T "PP/Score Leaderboard") "/leaderboard" }}
					{{ navbarItem .Path (.T "Clan Leaderboard") "/clans" }}
				</div>
			</div>
			<div class="ui dropdown item">
				<i class="orange users icon"></i>
                <div class="menu">
                	{{ navbarItem .Path (.T "Top Plays") "/plays" }}
                    <div class="divider"></div>
                    {{ navbarItem .Path (.T "Discord Server") .Conf.DiscordServer }}
                </div>
            </div>
            <div class="ui dropdown item">
				<i class="blue info icon"></i>
				<div class="menu">
					{{ navbarItem .Path (.T "About") "/about" }}
					{{ navbarItem .Path (.T "Team") "/team" }}
					{{ navbarItem .Path (.T "Rules") "/doc/rules" }}
					{{ navbarItem .Path (.T "Documentation") "/doc" }}
				</div>
			</div>
			{{ if .Context.User.Username }}
				<div class="ui dropdown item">
					<i class="purple database icon"></i>
					<div class="menu">
						{{ navbarItem .Path (.T "Request beatmap ranking") "/beatmaps/rank_request" }}
					</div>
				</div>
			{{ end }}
			{{ if .Context.User.Username }}
				<div class="ui dropdown item">
					<i class="green address book icon"></i>
					<div class="menu">
						{{ if ($isClan) }}
							{{ navbarItem .Path (.T "Clan Profile") (printf "/c/%s" $isClan.clan) }}
							{{ if (eq $isClan.perms "8") }}
								{{ navbarItem .Path (.T "Clan Settings") "/settings/clansettings" }}
							{{ end }}
						{{ else }}
							<div class="divider"></div>
							{{ navbarItem .Path (.T "Create Clan") "/clans/create" }}
						{{ end }}
					</div>
				</div>
			{{ end }}
			{{ navbarItem .Path (printf "<i class=\"red heart icon\"></i>") "/donate" }}
			{{ if $isAdmin }}{{ navbarItem .Path (printf "<i class=\"blue shield icon\"></i>") "https://old.fuquila.net" }}{{ end }}
			{{ end }}
		<div class="firetrucking-right-menu">
			<div class="item">
				<div class="ui search" id="user-search">
					<div class="ui icon input">
						<input class="prompt" type="text" placeholder="{{ .T "Looking for someone?" }}" id="user-search-input">
						<i class="search link icon"></i>
					</div>
				</div>
			</div>
			{{ if .Context.User.Username }}
				<div class="ui dropdown item">
					<img id="avatar" class="ui avatar image" src="{{ config "AvatarURL" }}/{{ .Context.User.ID }}">
					<span>{{ .Context.User.Username }}</span>
					<div class="menu">
						{{ navbarItem .Path (.T "Profile") (printf "/u/%d" .Context.User.ID) }}
						{{ navbarItem .Path (.T "Friends") "/friends" }}
						{{ navbarItem .Path (.T "Your Followers") "/followers" }}
						{{ navbarItem .Path (.T "Settings") "/settings" }}
						{{ navbarItem .Path (.T "Log out") (printf "/logout?k=%s" (.Session.Get "logout")) }}
					</div>
				</div>
			{{ else }}
				{{ navbarItem .Path (.T "Log in") "/login" }}
				{{ navbarItem .Path (.T "Register") "/register" }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}