{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h3>{{ .T "This is a list of the wonderful people who keep Fuquila up and running and deal with its community." }}</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Community Managers" }}</h1>
			<p>
				{{ .T "Community Managers deal with bans, silences, name changes and pretty much everything that has to do with the community." }}<br>
				{{ .T "They take care of our Discord server and reply to tickets sent on our Discord. Community Managers have a red name in the in-game chat." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 4) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Developers" }}</h1>
			<p>
				{{ .T "Developers add new features to the server, squash bugs, keep the server up and running and take care of its maintenance." }}<br>
				{{ .T "They don't do anything related to the community. Developers have a blue name in the in-game chat." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 3) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Chat Moderators" }}</h1>
			<p>
				{{ .T "Chat moderators manage the chat to make sure The Law&trade; (the rules) is respected." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 5) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "BATs" }}</h1>
			<p>
				{{ .T "BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 6) }}
		</div>
	</div>
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Special thanks" }}</h1>
			<p>{{ .T "Here's a list of people who helped with Fuquila!" }}</p>
		</div>
		<div class="ui segment">
			<ul class="ui list">
				<li>
					{{ .T "<b>RealistikOsu!</b>, for their <a href='https://github.com/RealistikOsu'>source code</a>, which Fuquila runs on." | html }}<br>
				</li>
				<li>
					{{ .T "<b>Rina</b>, for <a href='https://github.com/osuthailand/hanayo'>hanayo</a>, which Fuquila uses as a frontend." | html }}<br>
				</li>
				<li>
					{{ .T "<b>MaxOhn</b>, for <a href='https://github.com/MaxOhn/rosu-pp-py'>rosu-pp-py</a>, which is used as the pp across all modes (excluding rx!std)." | html }}<br>
				</li>
				<li>{{ .T "<b><a href='https://fuquila.net/u/1001'>Sensokaku</a></b>, for hosting the server." | html }}</li>
				<li>{{ .T "<b><a id='everyone' class='clickable'>Everyone</a></b> who has supported the Fuquila project by donating or inviting other people." | html }}</li>
			</ul>
		</div>
	</div>
	{{ $ := . }}
	{{ .T "Looking for how you should contact our team? Check out <a href='https://discord.gg/zEeU85Kf5r'>our discord</a>." | html }}
	<div class="ui modal">
		<div class="header"><h2 class="ui header">{{ .T "They told me these are very cool people." }}</h2></div>
		{{ with .Get "users?sort=donor_expire,desc&l=52" }}
			<div class="content">
				<div class="ui four column grid">
					{{ range .users }}
						<div class="column">
							<h4 class="ui image header">
								<img src="{{ config "AvatarURL" }}/{{ .id }}" class="ui micro rounded image">
								<div class="content">
									<a href="/u/{{ .id }}">{{ .username }}</a>
								</div>
							</h4>
						</div>
					{{ end }}
				</div>
				<!-- Probably most shit coded part of Hanayo -->
				<br>
				<div class="centered">
					<b>{{ $.T "And more..." }}</b><br><br>
					<b>{{ $.T "Do you want to be in this list?" }}</b><br>
					<a href="/donate"><b>{{ $.T "Support us with a donation!" }}</b></a><br>
					<i>{{ $.T "(You get other cool perks too)" }}</i>
				</div>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
